{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block homeactive %}
active
{% endblock homeactive %}

{% block body %}

<br>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">A simple blog application where you can create your own post</h1>
    </div>
</div>

<div class="container">
<h1>Recent Post - </h1>
<br>
<br>
<!-- Example row of columns -->
<div class="row">
    {% for post in recent_posts %}
    <div class="col-md-4">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|slice:":300" }}</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    {% endfor %}
</div>

<hr>

</div> <!-- /container -->


{% endblock body %}