{% extends 'base.html' %}

{% block title %}
Blog Post Page
{% endblock title %}

{% block body %}

<div class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead">By - {{post.author}}</p>
        <hr class="my-4">
        <p>{{post.content}}</p>
    </div>
</div>

<hr>

<div class="container">
    <h4>Please write your comment</h4>
    <form action="{{ request.path }}user_comment/" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="comment-text" id="comment-text" placeholder="Type your comment" aria-describedby="comment-text">
        </div>
        <button type="submit" class="btn btn-danger btn-sm">Submit</button>
    </form>
</div>

<hr>

<div class="container">
    <h2 class="text-success">Comments Section -</h2>
    <br>
    {% for comment in comments %}
    <div>
        <blockquote class="blockquote text-right">
            <p class="mb-0">{{ comment.comment_text }}</p>
            <footer class="blockquote-footer font-weight-bold text-danger">{{ comment.user.first_name }}</footer>
        </blockquote>
    </div>
    {% endfor %}
</div>

{% endblock body %}