{% extends 'base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block blogHomeactive %}
active
{% endblock blogHomeactive %}

{% block body %}

<div class="container my-3">
    {% for post in allPost %}
    <div class="jumbotron border border-success">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead text-danger font-weight-bold"> -{{post.author}}</p>
        <hr class="my-4 border border-success">
        <p>{{post.content|truncatechars:300}}</p>
        <a class="btn btn-warning btn-sm" href="/blog/{{post.sno}}/" role="button">Read More >></a>
    </div>
    {% endfor %}
</div>
{% endblock body %}