{% extends 'base.html' %}

{% block title %}
Blog Post Page
{% endblock title %}

{% block body %}

<div class="container my-5">
    <div class="jumbotron">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead">By - {{post.author}}</p>
        <hr class="my-4">
        <p>{{post.content}}</p>
    </div>
</div>

<hr>

<div class="container">
    <h1>Comments::</h1>
    {% for comment in comments %}
    <div class="row">
        <div class="col-md-2">
            <p>{{ comment.user.first_name }}</p>
        </div>
        <div class="col-md-10">
            <p>{{ comment.comment_text }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>

{% endblock body %}