{% extends 'base.html' %}

{% block title %}
Create A Post
{% endblock title %}

{% block body %}

<div>
<br>
<br>

<div class="container my-5">
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <h3 class="text-danger font-weight-bold">Title -</h3>
          <input type="text" class="form-control border border-danger" name="title" id="title" placeholder="Type the title of the post">
        </div>
        <br>
        <br>
        <div class="form-group">
            <h3 class="text-danger font-weight-bold">Content -</h3>
          <textarea class="form-control border border-danger" name="textarea" id="textarea" rows="15" placeholder="Write the content of the post"></textarea>
        </div>
        <button class="btn btn-success float-right">Create A New Post</button>
    </form>
</div>

{% endblock body %}